.learn{
    width: 100%;
    height:auto;
    background-color: #EFEFEF;
}
.service{
    height: auto;
    width: 100%;
    background-color: #F1EACC;
}
.learn img{
    background-color: #002561;
    padding: 20px;
    border-radius: 50%;
}
.service-container{
    background-color: #F1EACC;
}
