.intro{
    width: 100%;
    height: auto;
    background-color: #EFEFEF;
    // padding-bottom: 20px;
}
.intro .all{
    background-color: transparent;
    border: none;
    position: relative;
   text-decoration: none;
   color: black;
//    border-bottom: 1px solid #333;
//    width: 50%;
}
.intro .all::after{
    content: " | ";
    bottom: -10;
    color: #333;
    position: absolute;
    padding-left: 10px;
}
@media(max-width:400px){
    .item img{
       width: 100%;
    }
}
@media(max-width:700px){
    .item img{
       width: 100%;
    }
}
@media(max-width:900px){
    .item img{
       width: 100%;
    }
}